body{
    background-image: url("img/bg-img.jpg");
}

h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 50px;
    color: indigo;
    text-decoration: underline;
}

h2{
    font-size: 50px;
    width: 900px;
    margin: auto;
    color: indigo;
    text-decoration: underline;
}

#list{
    color: darkred;
    font-size: 30px;
    width: 900px;
    margin: auto;
}

.item{
    margin-bottom: 30px;
}

.top{
    margin-top: 20px;
}

a:link{
    color: blue;
}

a:visited{
    color: darkgreen;
}

a:hover{
    color: brown;
}

a:active{
    color: deeppink;
}

.recipe{
    background-image: url("img/recipe-bg-img.jpeg");
}

img{
    display: block;
    margin: 0 auto;
}

p{
    color: darkred;
    font-size: 30px;
    width: 900px;
    margin: auto;
}

.home{
    font-size: 45px;
}